h1 {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main .headings {
  animation-duration: 1s;
  animation-name: slidein;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 20%;
  right: 50%;
  left: 50%;
  font-weight: bolder;
  font-size: 9rem;
  font-family: "Poppins", sans-serif;
}

@keyframes slidein {
  from {
    font-size: 10rem;
    letter-spacing: 1cm;
  }
  to {
    letter-spacing: normal;
  }
}

.btnstart {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: #1a875b;
  border: none;
  color: white;
  padding: 20px;
  left: 40%;
  right: 50%;
  margin-top: 5%;
  width: 20%;
  font-size: 16px;
}

.side {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 39.7%;
  right: 35%;
  left: 34%;
  color: rgb(88, 95, 90);
  font-family: "Poppins", sans-serif;
}

.paragraph {
  display: block;
  flex-direction: column;
  align-items: center;
  position: absolute;
  color: rgb(88, 88, 88);
  margin-right: 15%;
  margin-left: 15%;
  top: 50%;
  font-weight: 280;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
}

.paragraph .option {
  line-height: 50px;
  overflow: hidden;
}

.option li {
  list-style: none;
  animation: slide 12s steps(4) infinite;
}

@keyframes slide {
  100% {
    top: -360px;
  }
}

.option li span {
  position: relative;
  margin: 5px 0;
}

.option li span:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  border-left: 2px solid rgb(47, 134, 69);
  animation: typing 3s steps(10) infinite;
}

@keyframes typing {
  40%,
  60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}

.show {
  display: block;
  transition: 800ms;
  opacity: 1;
}

.show.active {
  transform: translateY (100px) scale (0) rotateY (180deg);
  opacity: 0;
}
